{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "standard"
  ],
  "rules": {},
  "parserOptions": {
    "parser": "babel-eslint"
  }
}