{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "standard"
  ],
  "rules": {
    "no-console": "off",
    "no-return-assign": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}